{% extends "base/base.html" %}
{% load account socialaccount %}
{% include "socialaccount/snippets/login_extra.html" %}

{% block content %}

<h1>로그인 해버리기</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
소셜 계정으로 로그인
    <a href="{{ signup_url }}"></a>
    {{ site_name }}
</p>

<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  <div class="login-or"></div>
</div>
{% endif %}


<form action="{% url 'member:login' %}" method="POST">{% csrf_token %}
    {{ form.as_p }}
    {% if form.error %}
        <p>ID나 비밀번호가 일치하지 않습니다.</p>
    {% endif %}
    <button type="submit">로그인</button>
</form>


{% endblock %}
